html {
    font-size: 20px;
}

body {
  font-family: "Crimson Pro",sans-serif;
  line-height: 1.5;
  font-size: 20px;
  background: #fff;
  color: #666;
  margin: 0;
}
@media (max-width: 799px) {
  body {
    padding: 15px;
    font-size: .95em;
  }
}
body h1,
body h2,
body h3,
body h4 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #444;
}
body h1 b,
body h2 b,
body h3 b,
body h4 b {
  display: block;
  line-height: 1;
  font-size: 150%;
}
body h1 img,
body h2 img,
body h3 img,
body h4 img {
  vertical-align: middle;
  border: 0 none;
}
body h1 {
  font-size: 2.5rem;
  margin-top: 20px;
}
body h2 {
  margin-top: 60px;
  position: relative;
  font-size: 2rem;
}
body h3 {
  font-size: 1.4rem;
  margin-top: 40px;
  font-weight: bold;
}
body p {
  text-align: justify;
}
body a {
  text-decoration: none;
  color: #1692cc;
}
body a:hover {
  color: #91351c;
  text-decoration: underline;
}
body pre {
  background: white;
}
body pre.src {
  overflow-y: auto !important;
  font-size: 0.8rem;
}
body code {
  background: #eee;
  border: 1px solid #ccc;
  padding: 0px 4px;
  color: #666;
  overflow-x: auto;
  font-size: .9em;
}
body li {
  margin-bottom: 1em;
}
body img {
  height: auto;
}
/* Make image responsive and not exceed viewport. */
.responsive {
    width: 100%;
    height: auto;
}
@media (max-width: 800px) {
  body img {
    max-width: 100%;
  }
}
body img.no-border {
  border: none;
}
body img.rounded-border {
    border-radius: 20px;
}
body img.black-border {
    border: 2px solid black;
}
body img.spaced-border {
    border: 1px solid gray;
    padding: 15px;
}
body .tag {
  background: transparent;
  font-size: 0.8rem;
  /* Moves tags to the next line and prevents extra white-space. */
  display:block;
}
body .tag span {
  background: #1692cc;
  color: white;
  padding: 2px 5px;
  border-radius: 4px;
  cursor: pointer;
}
body .org-info-js_info-navigation {
  background: #bbb;
}
@media (min-width: 800px) {
  body #content,
  body #postamble {
    margin: 0 auto;
    max-width: 700px !important;
    width: 700px !important;
  }
}
body #content {
  margin-top: 10px;
}
body #postamble {
  font-size: 0.8em;
  line-height: 1.8em;
  margin-top: 50px;
  text-align: center;
  color: #aaa;
  padding: 15px 0;
  border-top: 1px solid #e2e2e2;
}
body #postamble a {
  color: #e9a390;
}
@media (min-width: 800px) {
  body #preamble {
    width: 700px;
    margin: 0px auto;
    position: relative;
  }
}
body .clearfix {
  clear: both;
}
@media (min-width: 800px) {
  body .contact {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    -moz-column-gap: 3em;
    -webkit-column-gap: 3em;
    column-count: 2;
    column-gap: 3em;
  }
}

.timestamp {
    color: #bebebe;
    font-size: 1rem;
    display:block;
}
h1.title {
    font-size: 2.0rem;
    color: #1692cc;
}
span.subtitle {
    font-size: 1.5rem;
}
#contact-header {
    width: 100%;
}

#contact-right {
    text-align: right;
}

div#table-of-contents {
    font-size: 1.2rem;
    z-index: 1;
}

/* "Table of Contents" heading. */
div#table-of-contents h2 {
    font-size: 1.2rem;
    z-index: 100;
}

div#text-table-of-contents {
    font-size: 1rem;
    display: none;
    z-index: 100;
}

/* Remove timestamps from the TOC. */
div#text-table-of-contents span.timestamp-wrapper {
    /* display: none; */
}

/* Remove sub-bullets from the TOC. */
div#text-table-of-contents ul li ul {
    font-size: 0.8rem;
}

/* Slightly smaller tags for TOC. */
div#text-table-of-contents .tag {
    font-size: 0.6rem;
}

/* Remove figure number */
.figure-number {
    display: none;
}

.social-icon {
    width: 1em;
}

@media (max-width: 799px) {
    #contact-header {
        position: fixed;
        top: 0;
        width: 95%;
        background-color: white;
    }
}
